/* RESET */
*{
    text-align: center;
}
/* GENERALS */
nav,
header,
main,
footer{
    border: 1px solid blue;
}
[class*="col-"]{
    border: 1px dotted red;
}
/* OTHERS */
#navbar{
    height: 90px;
}
